{% extends 'base.html' %}

{% block content %}
<section class="consejos">
    <h1>Cuidado de nuestras mascotas</h1>
    <div class="tip">
        <h2>Tener una mascota en casa implica una gran responsabilidad</h2>
        <p>No solo es brindarles cariño, atención y cuidados constantes. Una mascota no es un juguete, es un ser vivo que siente y depende de nosotros. Debemos ser conscientes del compromiso a largo plazo que conlleva su adopción: cubrir sus necesidades emocionales, físicas y médicas.</p>
    </div>
    <div class="tip">
        <h2>Las vacunas y el control veterinario son esenciales para proteger a nuestras mascotas</h2>
        <p>Desde cachorros, deben seguir un calendario de vacunación que los proteja de enfermedades comunes y graves como la rabia, el moquillo o el parvovirus. También es importante llevarlos al veterinario al menos una vez al año para revisiones generales, desparasitaciones internas y externas, y chequeos preventivos.</p>
    </div>
    <div class="tip">
        <h2>Una alimentación saludable es la base del bienestar de nuestras mascotas</h2>
        <p>Cada animal necesita una dieta adecuada según su especie, edad, tamaño y nivel de actividad. Es importante proporcionarles alimentos de calidad que contengan los nutrientes necesarios para su crecimiento y salud.</p>
    </div>
</section>
{% endblock %}