{% extends 'base.html' %}

{% block content %}
<section class="refugios">
    <h1>¿Cómo adoptar y dónde?</h1>
    <p>Existen una gran cantidad de animales en situación de abandono o viviendo en refugios por largos periodos. Al mismo tiempo, muchas personas desean adoptar, pero desconocen cómo hacerlo o dónde encontrar mascotas disponibles. Aquí te ayudamos a encontrar refugios disponibles:</p>
    <div class="refugio">
        <h2>Refugio Aguilares</h2>
        <p>San Salvador, El Salvador</p>
        <p>Teléfono: 7019-0369</p>
        <p>Email: huellitasencasa@unab.edu.sv</p>
    </div>
</section>
{% endblock %}