{% extends 'base.html' %}

{% block content %}
<section class="sobre-nosotros">
    <h1>Lo mejor para tus mascotas</h1>
    <h2>Sobre nosotros</h2>
    <p>Somos un equipo comprometido con el bienestar animal y creemos firmemente en el poder de la adopción responsable como una forma de brindar segundas oportunidades a miles de mascotas que esperan un hogar. Esta página web nace con la intención de conectar a personas con refugios de animales de forma rápida, segura y responsable. Además, buscamos educar y adoptar a una mascota que lo necesite.</p>
    <p>Nuestra misión es facilitar el proceso de adopción y fomentar una cultura de amor y responsabilidad hacia los seres que no tienen voz, pero sí mucho amor para dar.</p>
</section>
{% endblock %}